/*Mixin*/
body {
  background-image: url(../Imagenes/fondo-3.jpg); }

h1 {
  font-family: 'Freehand', cursive;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin: auto; }

h2 {
  font-family: 'Anton', sans-serif;
  color: #410c0c;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  width: auto; }

h3 {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-style: oblique;
  font-size: 1.5rem;
  text-align: center;
  color: #000; }

h4 {
  margin-bottom: 1.5rem;
  font-style: oblique;
  font-size: 1.5rem;
  text-align: center; }

input:focus {
  width: 16rem; }

input {
  font-size: 1.2rem; }

label {
  display: flex;
  flex-direction: column; }

button {
  display: flex;
  margin: auto; }

button:hover {
  transform: scale(1.09); }

a {
  text-decoration: none;
  color: #cf9a9a; }

ul {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 1rem; }

p {
  text-align: center;
  font-style: oblique;
  font-size: 1.55rem;
  font-weight: bolder;
  color: #000; }

img {
  width: 40rem;
  height: auto;
  max-width: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 2rem; }

img:hover {
  transform: scale(1.02); }

ol {
  margin: auto;
  font-size: 1.5rem; }

/*reset-css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Metodo desktop first*/
/*inicio grilla*/
/*NOTA: las areas "main2" y "aside2" son para cuando se reduzca la pantalla se me comoden como yo quiero ocupando todo el ancho y en diferentes columnas*/
#grilla {
  display: grid;
  grid-template-areas: "header header header" "publicidad publicidad publicidad" "main main aside" "main2 main2 main2" "aside2 aside2 aside2" "carrusel carrusel carrusel" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem; }

/*keyframe inicio*/
.promocion-1 {
  margin: auto;
  margin-top: 5rem;
  border: dashed red;
  animation: promocion-1 1s infinite; }

.promocion-2 {
  width: 100%;
  height: 99%;
  background-color: black;
  text-align: center;
  font-size: 2rem;
  color: red;
  animation: promocion-2 1s linear; }

@keyframes promocion-1 {
  0% {
    width: 19rem; }
  50% {
    width: 21rem; }
  100% {
    width: 19rem; } }

@keyframes promocion-2 {
  0% {
    width: 99%; }
  100% {
    width: 100%; } }

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #550202; }

header li:hover {
  transform: scale(1.03); }

.navbar-collapse {
  justify-content: end; }
  .navbar-collapse a {
    font-size: 1.2rem;
    margin: 1rem;
    color: white; }
    .navbar-collapse a:hover {
      color: black; }

.logo-header {
  height: auto;
  width: auto; }

.logo:hover {
  transform: scale(1.01); }

/*publicidad*/
.section-publicidad {
  grid-area: publicidad;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto; }
  .section-publicidad img {
    max-width: 60rem; }
  .section-publicidad img:hover {
    transform: none; }
  .section-publicidad h5 {
    color: #3f0202;
    font-family: cursive;
    font-size: 5rem; }

#main-index {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr; }

@media screen and (max-width: 1200px) {
  #main-index {
    grid-area: main2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; } }

@media screen and (max-width: 800px) {
  #main-index {
    grid-area: main2;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; } }

.div-contenedor {
  background-color: beige;
  border-radius: 2.5rem;
  margin: 1rem;
  padding-bottom: .5rem; }
  .div-contenedor img {
    width: 30rem;
    display: flex; }
  .div-contenedor h3 {
    font-size: 1.75rem;
    border-radius: 2rem;
    color: #a51414;
    margin: 2rem 0rem; }
  .div-contenedor p {
    padding: 1rem; }
  .div-contenedor button {
    display: flex;
    margin: 1.5rem auto; }
  .div-contenedor a {
    color: brown; }
    .div-contenedor a:hover {
      color: #aa0606; }

.section-aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 2.5rem;
  background-image: radial-gradient(beige, brown);
  width: auto;
  margin-left: 2rem; }
  .section-aside .contenedor-aside1 {
    display: flex;
    justify-content: center; }
  .section-aside .contenedor-aside2 {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .section-aside .contenedor-aside3 {
    display: flex;
    justify-content: center; }
  .section-aside h2 {
    font-family: 'Anton', sans-serif;
    color: #410c0c;
    font-size: 2.5rem;
    display: flex; }
  .section-aside h3 {
    font-style: oblique;
    font-size: 1.5rem;
    color: #a30101; }
  .section-aside img:hover {
    transform: none; }
  .section-aside h5 {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f3efef;
    background-image: radial-gradient(brown, red); }
  .section-aside p {
    padding: 1rem; }

@media screen and (max-width: 1200px) {
  .section-aside {
    grid-area: aside2;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 2rem; } }

#carrusel {
  grid-area: carrusel;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 45rem; }
  #carrusel p {
    font-family: 'Freehand', cursive;
    font-size: 1.55rem;
    color: white;
    width: auto;
    background-color: #4b0202;
    border-radius: 60%; }
  #carrusel img:hover {
    transform: none; }

#body-trabaja {
  background-image: radial-gradient(beige, #887272); }

#form {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem; }

fieldset {
  display: flex;
  flex-direction: row;
  background-color: #23aca5;
  margin-bottom: 5rem;
  border-radius: 2rem;
  width: 100%; }
  fieldset img {
    margin: 5rem 0rem 0rem 3rem;
    width: 30rem;
    height: 30rem; }
    fieldset img:hover {
      transform: none; }

@media screen and (max-width: 1000px) {
  fieldset {
    display: flex;
    flex-direction: column; }
    fieldset img {
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 0rem;
      width: 20rem;
      height: 20rem; } }

input {
  background-image: linear-gradient(to top, #9d9dee, white); }

.contenedor-labels-inputs {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  flex-direction: column; }

.contenedor-radios {
  display: flex;
  align-items: center;
  justify-content: center; }
  .contenedor-radios input {
    margin: 1rem 1rem; }
    .contenedor-radios input:focus {
      width: 1rem; }

.sect-padre-tienda {
  margin: 5rem;
  grid-area: main;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.padre-nuevas {
  border: solid 1.5rem red; }

.h2-nuevos-productos {
  display: flex; }

.padre-cards-nuevas {
  grid-area: main;
  display: grid;
  margin: auto 3rem;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr; }

@media screen and (max-width: 1100px) {
  .padre-cards-nuevas {
    grid-template-columns: 1fr 1fr;
    align-items: center; } }

@media screen and (max-width: 715px) {
  .padre-cards-nuevas {
    grid-template-columns: 1fr;
    align-items: center; } }

.card, .cards-nuevas {
  margin: 1rem;
  width: auto;
  padding: 1rem;
  border: solid 5px #550202;
  background-image: linear-gradient(to top, white, black); }

@media screen and (max-width: 1100px) {
  .sect-padre-tienda {
    grid-template-columns: 1fr 1fr;
    align-items: center; } }

@media screen and (max-width: 715px) {
  .sect-padre-tienda {
    grid-template-columns: 1fr;
    align-items: center; } }

.cards-nuevas {
  background-image: radial-gradient(white, #8d1832); }

.card-boton, .card-boton-nuevo {
  margin: auto;
  padding: .5rem .5rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  background-color: black; }

.card-boton-nuevo {
  color: white;
  background-color: brown; }

.referencia {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

#body-produccion {
  background-image: radial-gradient(white, #e25e05); }

.proceso {
  margin-top: 7rem;
  width: auto; }
  .proceso p {
    font-style: oblique;
    font-size: 1.55rem;
    font-weight: bolder;
    margin: auto 4rem; }
  .proceso ul {
    list-style-type: circle;
    margin: auto 4rem;
    text-align: center;
    color: #000;
    font-style: oblique;
    font-size: 1.55rem;
    font-weight: bold; }
  .proceso img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem; }

.div-video a {
  color: blue; }

#body-preparacion {
  background-image: radial-gradient(#cec6c6, #570909); }

.sect-padre-preparaciones {
  margin-top: 10rem;
  grid-area: main;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr; }

.prepara {
  margin: 2rem; }
  .prepara p {
    color: #000;
    font-style: oblique;
    font-size: 1.55rem;
    font-weight: bolder; }
  .prepara ol {
    font-style: oblique;
    font-size: 1.55rem;
    font-weight: bolder;
    color: #000; }
  .prepara img {
    margin-top: 1rem; }

@media screen and (max-width: 1100px) {
  .sect-padre-preparaciones {
    grid-template-columns: 1fr 1fr;
    align-items: center; } }

@media screen and (max-width: 800px) {
  .sect-padre-preparaciones {
    grid-template-columns: 1fr;
    align-items: center; } }

table {
  display: flex;
  flex-direction: column;
  align-items: center; }

table ul {
  list-style-type: circle;
  margin-left: 1rem; }

tbody {
  background-image: radial-gradient(white, #e25e05); }

th {
  font-size: 2rem;
  text-align: center; }

#body-carrito {
  background-image: linear-gradient(to right, #0f3233, #4ca7ca); }

#bg-enlaces-secundarios {
  background-image: linear-gradient(to right, #164c4e, #012f41); }

.body-enlaces-secundarios h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #ee3b3b; }

.body-enlaces-secundarios p {
  margin: 5rem;
  color: white; }

.body-enlaces-secundarios img {
  display: block; }

.body-enlaces-secundarios button {
  display: flex; }

#footer {
  grid-area: footer;
  background-color: #550202;
  display: flex;
  justify-content: space-around;
  align-items: center; }

#footer p {
  color: white;
  font-size: 1rem;
  margin: 2rem; }

@media screen and (max-width: 1100px) {
  #footer {
    flex-direction: column; } }

.logo {
  height: 10rem;
  width: 9rem;
  margin: 0; }

.contenedor-redes {
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor-redes ul li {
  display: inline-block;
  margin: 0 1.5rem; }
  .contenedor-redes ul li a {
    color: white; }
    .contenedor-redes ul li a:hover {
      color: black; }

.div-contacto {
  margin-top: 1rem; }
  .div-contacto h3 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    font-weight: bolder; }
