#bodyCarrito{
    background-image: $fondo-carritoPage;
}

#loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loginIngreso{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputRegistro{
    border-color: transparent;
    margin: 1rem;
}

.inputs{
    margin: 1.5rem;
}

#mainLogin{
    background-image: linear-gradient(to right, rgb(61, 60, 60), white);
}

#boton-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: black;
    }

}