/*reset-css*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*Metodo desktop first*/
/*inicio grilla*/

#grilla {
    display: grid;
    grid-template-areas: 
    "header header header"
    "publicidad publicidad publicidad"
    "main main aside"
    "carrusel carrusel carrusel"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}