
header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    background-color: $fondo-header;
}

header li:hover{
    transform: scale(1.03);
}

.navbar-collapse{
    justify-content: end;
    a {
        font-size: 1.2rem;
        margin: 1rem;
        color: white;
    }
}

.logo-header{
    height: auto;
    width: auto;
}

.logo:hover {
    transform: scale(1.010);
}