
$fuente-h1: 1.3rem;
$fuente-h2: 2.5rem;
$fuente-h3: 1.5rem;
$fuente-h4: 1.5rem;
$fuente-p: 1.55rem;
$fuente-p-footer: 1rem;


$fondo-header: #550202;
$fondo-footer: #550202;
$fondo-principal: url(../Imagenes/fondo-3.jpg);
$fondo-produccion: radial-gradient(white, #e25e05);
$fondo-preparacion: radial-gradient(rgb(206, 198, 198), rgb(87, 9, 9));
$color-textos: #000;

/*Mixin*/

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

